
.offerpic1{
    width: 101%;
    height:fit-contet;
}
 .grid-agra-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15%;
    margin-right: 10%;
    flex-wrap: wrap;
    gap: 20px;
    width: 1536px;
    height: 717px;
    
 }
 .groupmainpic{
    border-radius: 5px;
 }
.grudpicside{
    border-radius: 5px;
    width:347px;
    height:231px;
    margin-bottom: 13px;

}

.belowimagespara{
    display: flex;
    margin-left: 15%;
    margin-right: 11%;
  justify-content: space-between;   
}
    .h1belowimages{
        font-family: 'Poppins', sans-serif;
        font-size: 44px;
    }
    .btnviewrooms{
        width: 340px;
        height: 39px;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        box-shadow: 11px 12px 16px 0px rgba(0, 0, 0, 0.307);
    border-color: rgba(255, 255, 255, 0.248);
    margin-left: 2%;
        margin-right: 8%;
        background-color: yellow;
    }

    .parmember{
        line-height: 2rem;
        margin-left: 15%;
       margin-right: 14%;
       color: #919191;
       font-family: 'Poppins', sans-serif;


    }
    .amenityhead{
        margin-left: 15%;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }
    .amenity{
        display: flex;
        margin-left: 15%;
        margin-right: 14%;
        gap: 5.3rem;
        font-size: 14px;
    }
    .amnpic{
        width: 40px;
        height: 40px;
    }
    .amnpic1{
      width: 40px;
      height: 40px;
    }
    .amenity.amenitysmallcommon {
        margin-left: -25px
    }
    .grid-container-whatwedo{
        display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    max-width: 1536px;
    margin-left: 15%;
    margin-right: 10%;
    }
    .grid-what-wedo{
       width: 344px;
       height: 162px;
       border: 1px salmon solid ;
       border-color: #919191;
       border-radius: 10px
    }
    .bx1wedo{
        display: flex;
    }
    .paraagrawhatwedo{
        margin-left: 15%;
        font-family: 'Poppins', sans-serif;
        font-size: 44px;
    }
    .agrawharwedopic{
        width: 64px;
        height: 64px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .parawhwedo{
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        margin-top: 25px;
        margin-left: 13px;
    }
    .parabelowpicwedo{
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        color: #919191;
        margin-left: 5px;
        margin-top: 5px;
    }
    .mainpolicydiv{
        display: flex;
        gap:4.2rem;
    }
    /* .policymain{
        margin-left:15%;
        margin-right: 16%;
    }
     */

    .policy1stbox{
        display: flex;
    }
    .imgpolicy{
        width: 56px;
        height: 56px;
    }
  
    .parabelowpicpolcy{
        margin-top: 15px;
        line-height: 3px;
    }
    /* .accordion-button.active {
        background-color: yellow;
      }
      */
      .mainfaq{
        display: flex;
        list-style: none;
      }

      .faqlist{
        list-style: none;
        line-height: 1.75rem;
        
      }
      .faqbox{
        width: 694px;
      }
      .listsylefaq{
        margin-bottom: 15px;
      }
      .reviewheading{
        font-family: 'Poppins', sans-serif;
        font-size: 30px;
       
      }
      .review-container{
        display:grid;
        gap: 10px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        
      }
      .reviewdiv{
       
        margin-left: 15%;
        margin-right: 13%;
      }
      .review-column{
        background-color: white;
        padding: 20px;
        width: 446px;
        height: 346px;
        margin-top: -25%;
        border-radius: 20px;
        box-shadow: 23px -19px 15px 0px rgba(0,0,0,0.1);;
      }
      .avtarpic{
        width: 70px;
        height: 70px;
        margin-right: 10px;
      }
      .reviewbox{
        margin-top: 10px;
        display:flex;
      }
      .reviewparas{
        margin-top: 15px;
margin-left: 10px;
line-height: 10px;
  
      }

      .paragroup{
        color: #919191;
      }

.reviewparaa{
    margin-top: 20px;
    color: #919191;
    margin-right: 20px;
    font-size: 20px;
}
.bgyellow{
    background-color: yellow;
    height: 30vh;
    
   
}
.headerreview{
    display: flex;
    gap:35rem;
    margin-left:15%;
}
.reviewarc{
    display: flex;
}
.arc-container {
    width: 150px;
    height: 75px;
    position: relative;
  }
  
  .arc {
    width: 80%;
    height: 80%;
    background-color: yellow;
    border-radius: 50% 50% 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    transform: rotate(0deg);
  }
  
  .content {
    font-size: 18px;
    color: #333;
    margin-left: 30px;
    position: relative;
    z-index: 1;
   
    transform: rotate(0deg);
  }
  .parareviews{
    margin-left: -37px;

  }
  .round{
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50% 50% 50% 50%;
  }
  .roundflex{
    gap: 20px;
    display:flex;
  }


  @media only screen and (max-width: 767px) {


  
   .grid-agra-container{
      display:grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left: 1%;
      margin-right: 0%;
      
      width: 100%;
      max-height: 300px;
      
   }
   .groupmainpic{
    max-width: 465px;
    height: 270px;
    padding:  10px;
    margin: auto;
 }
   .grudpicside {
    display: none;
  }
  
.belowimagespara{
  display: flex;
 margin: -40px 0 0 0;
  padding: 0 20px 0 20px;
  
}
.h1belowimages{
font-size: 20px;
}
.btnviewrooms{
  width: 130px;
  height: 30px;
}


.parmember{
  line-height: 2rem;
 margin: auto;
 padding: 20px;
 text-align: justify;
}

.btnmember{
  margin: auto;
  align-items: center;
}
.amenityhead{
  margin-left: 20px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.amenity{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
margin: auto;
  gap: 0.5rem;
  padding: 0 20px 0 20px;
  font-size: 14px;
}
.amenitysmalllparaa{
  margin-left: -20px;
}
.amnpic{
  width: 40px;
  height: 40px;
}

.mobileviewamnhide {
  display: none;
}
.amenity.amenitysmallcommon {
  margin-left: -25px
}
.amenitysmalllparaa{
  margin-left: -20px;
}


.grid-container-whatwedo{
  display:grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
max-width: 100%;
margin: auto;
padding: 0 30px 0 30px;
}
.grid-what-wedo{
 max-width: 134px;
 height: 230px;
 margin-bottom: 10px;
 border: 1px salmon solid ;
 border-color: #919191;
 border-radius: 10px
}
.bx1wedo{
  display: block;
}
.paraagrawhatwedo{
  margin-left: 3%;
  margin-top: -25px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}
.agrawharwedopic{
  width: 60px;
  height: 60px;
align-items: center;
margin: 0 0 0 25%;
justify-items: center;
padding: 10px;
}
.parawhwedo{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding-left: 5px;
  margin-top: 0px;
  margin-left: 0px;
}
.parabelowpicwedo{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #919191;
  margin-left: 5px;
  margin-top: 0px;
}

.mainpolicydiv{

  display: grid;
  gap:1px;
  margin-left: -20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#accorrd{
  width: 335px;
  margin: 0 0 0 -40px;
  background-color: #ffffff;
}
.mainfaq{
  display: block;
  list-style: none;
}

.faqlist{
  list-style: none;
  line-height: 1.75rem;
  
}
.faqbox{
  width: 320px;
  text-align: initial;
  margin-left: -30px;
}
  }


      
@media only screen and (max-width: 400px) {
  .groupmainpic{
    max-width: 355px;
    height: 270px;
    padding:  15px;
    margin: auto;
 }
 .btnviewrooms{
  width: 110px;
  font-size: 14px;
  height: 30px;
}
.mobileviewamnhide {
  display: none;
}
}
  @media only screen and (min-width:1210px) {

    .grid-agra-container{
      display:grid;
      grid-template-columns: repeat(2, 1fr);
     margin: auto;
      flex-wrap: wrap;
      gap: 20px;
      padding: 0 0 0 30px;
      width: 1536px;
      height: 717px;
      
   }
  

  
  
.belowimagespara{
  display: flex;
  margin-left: 2%;
  margin-right: -8%;
justify-content: space-between;   

  }
      .h1belowimages{
          font-family: 'Poppins', sans-serif;
          font-size: 44px;
      }
      .btnviewrooms{
         margin-right: 10%;
      }
  
      .parmember{
          line-height: 2rem;
          margin-left: 100px;
         margin-right: 100px;
         color: #919191;
         font-family: 'Poppins', sans-serif;
      }

      
    .amenityhead{
      margin: auto;
      font-size: 30px;
      padding:30px;
      font-family: 'Poppins', sans-serif;
  }
  .amenity{
      display: flex;
    margin:auto;
      gap: 3.3rem;
      padding: 0 0 0 60px;
      font-size: 14px;
  }
  .amenitysmallcommon {
      margin-left: -25px
  }

  .grid-container-whatwedo{
    display:grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
padding: 0 0 0 30px;
margin:auto;
}
.grid-what-wedo{
   width: 324px;
}
.paraagrawhatwedo{
  margin:30px;
}


.mainpolicydiv{
  display: flex;
  gap:6.2rem
}
.policymain{
margin:30px;
}




.faqbox{
  width: 754px;
}

.reviewheading{
  
  margin:auto;
 
}
.review-container{
  display:grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  
}
.reviewdiv{
 
  margin:auto;
  padding:30px;
}
.review-column{
  background-color: white;
  padding: 20px;
  width: 446px;
  height: 346px;
  margin-top: -30%;
  border-radius: 20px;
  box-shadow: 23px -19px 15px 0px rgba(0,0,0,0.1);;
}
.avtarpic{
  width: 70px;
  height: 70px;
  margin-right: 10px;
}
.reviewbox{
  margin-top: 0px;
  display:flex;
}
.reviewparas{
  margin-top: 15px;
margin-left: 10px;
line-height: 10px;

}

.paragroup{
  color: #919191;
}

.reviewparaa{
margin-top: 20px;
color: #919191;
margin-right: 20px;
font-size: 20px;
}
.bgyellow{
background-color: yellow;
height: 30vh;


}
.headerreview{
display: flex;
gap:32rem;
margin: auto;
padding: 30px;
}
.reviewarc{
display: flex;
}
.arc-container {
width: 150px;
height: 75px;
position: relative;
}

.arc {
width: 80%;
height: 80%;
background-color: yellow;
border-radius: 50% 50% 0 0;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
overflow: hidden;
transform: rotate(0deg);
}

.content {
font-size: 18px;
color: #333;
margin-left: 30px;
position: relative;
z-index: 1;

transform: rotate(0deg);
}
.parareviews{
margin-left: -37px;

}
.round{
width: 30px;
height: 30px;
background-color: yellow;
border-radius: 50% 50% 50% 50%;
}
.roundflex{
gap: 20px;
display:flex;
}

  }