
.footerst{
     font-family: 'Poppins', sans-serif;
     background-color: black;
     color: white;
}
.logoft{
    margin-left: 13%;
    height:80px;
    display: flex;
    gap: 9;
}
.footlogo{
    margin-right: 60%;
    margin-top: 29px;
}
.ftlinks{
    display: flex;
   margin-left: 10%;
    gap: 15rem; 
}
.links1{
 list-style: none;
 color: white;
 text-decoration: none;
 line-height: 35px;
 margin-left: 15%;
}
.headft{
    margin-left: 70px;
    color: yellow;
}
.navlinks{
    text-align: initial;
}
.linksfootinsta{
    margin-top: 29px;
   
    gap: 2rem;
}



@media only screen and  (max-width:1200px){

    .footerst{
        width: 1100px;
   }
   .ftlinks{
    display: flex;
   margin-left: 2%;
    gap: 4rem;
   
}
.footlogo{
    margin-right: 60%;
    margin-top: 29px;
}
.logoft{
    margin-left: 2%;
    height:80px;
    display: flex;
    gap: 10px;
   
}
.headft{
    margin-left: 60px;
    color: yellow;
}
}
@media only screen and (min-width:1210px) {
   .logoft{
       margin:auto;
       padding: 0 0 0 20px;  
   }
   .footlogo{
       margin-right: 60%;
       margin-top: 29px;
   }
   .ftlinks{      
      margin: auto;
       gap: 12rem; 
       padding: 3rem;  
   }
   .links1{
    line-height: 35px;
    margin: auto;
   }
   .headft{
       margin-left: 35px;
       color: yellow;
   }
   .linksfootinsta{
       margin-top: 29px;
      justify-content: right;
       gap: 2rem;
   }
   .mobile{
    display: flex;
   }
}  