.membership{

    font-family: 'Poppins', sans-serif;
    
}
.paramember{
    line-height: 2rem;
   
}
.btnmember{
   
    border-color: rgba(255, 255, 255, 0.534);
    box-shadow: 11px 12px 16px 0px rgba(0, 0, 0, 0.307);
    background-color: yellow;
    height: 33px;
    width: 120px;
}

.btnmemberbooking{
    border-color: rgba(255, 255, 255, 0.534);
    box-shadow: 11px 12px 16px 0px rgba(0, 0, 0, 0.307);
    background-color: yellow;
    height: 43px;
    width: 220px;
   
}

.grid-cotainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1100px !important;
    gap: 22px;
    
  }
  
  .grid-iem {
    padding: 10px;
    background-color:#ffffff; 
    border-radius: 25px;
    box-shadow: 11px 12px 16px 0px rgba(0, 0, 0, 0.307);
    width: 300px;
  }

  .grid-iem:hover {
    transform: scale(1.1); 
  }

  .mainbenifits{
   
    height: 770px;
   width: 100% !important;
   padding: 0 3%;
    background-color: #FFFACA;
  }

  .h1benifit{
    font-size: 48px;
  }
  .pbenifit{
    font-size: 18px;
    color: #919191;
    font-family: sans-serif;
  }

 
 .gridimag{
    width: 96px;
    height: 80px;
   justify-content: right;
 }


 #gridbn1h1{
    font-size: 18px;
    width: 206px;
    height: 40px;
   padding: 10px 10px;
    background-color: yellow;
   text-align: center;
    border-radius: 8px;

 }
 #gridbn1p1{
    padding: 0 5px;
    font-size: 17px;
    font-family: sans-serif;
 }

.memberheadfirst{
    font-size: 45px;
    position: relative;
  z-index: 2;
    
}
.headontainer{
    position: relative;
}

.backround {
    position: absolute;
    top: 50%;
    left: 0;
    width: 620px;
    height: 43%;
    background-color: yellow;
    z-index: 1;
  }

