
   .mainnavft{
    display: flex;
    
   }
.logomainmobile{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    font-size: 18px;
   padding: 12px;
   margin-left: 100px;
    font-weight: bold;
   text-align: center;
   
}
   .offcanvas-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(224, 210, 210, 0.87);
    z-index: 100;
    
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .offcanvas-menu.show {
    opacity: 1;
    pointer-events: auto;
  }
  
  
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    padding: 0;
  }
  
  .nav-item {
    font-size: 30px;
    margin-bottom: 0.5rem;
    list-style: none;
    color: rgb(0, 0, 0);
  }
  
  .nav-link {
    font-size: 40px;
    
    text-decoration: none;
  }
  .nav-link:hover{
    color: white;
  }
  .close-button {
    border: o.5px solid;
    position: absolute;
    top: 0.5px;
    left: 500px;
    background-color: transparent;
    border: none;
    color: #000;
    font-size: 2.5rem;
    cursor: pointer;
  }
  
  .close-button:focus {
    outline: none;
  }
     
@media only screen and (max-width: 400px) {
 
  .logomainmobile{
   
    margin: auto;
    
   
   margin-left: 60px;
  
   
}
}